/*@font-face {*/
    /*font-family: 'NanumGothic';*/
    /*src: url('../../resources/fonts/NanumGothic/NanumGothic.eot');*/
    /*src: url('../../resources/fonts/NanumGothic/NanumGothic.eot?#iefix') format('embedded-opentype'), url('../../resources/fonts/NanumGothic/NanumGothic.woff') format('woff'), url('../../resources/fonts/NanumGothic/NanumGothic.ttf') format('truetype'), url('../../resources/fonts/NanumGothic/NanumGothic.svg#NanumGothic') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'NanumGothicLight';*/
    /*src: url('../../resources/fonts/NanumGothic/NanumGothicLight.eot');*/
    /*src: url('../../resources/fonts/NanumGothic/NanumGothicLight.eot?#iefix') format('embedded-opentype'), url('../../resources/fonts/NanumGothic/NanumGothicLight.woff') format('woff'), url('../../resources/fonts/NanumGothic/NanumGothicLight.ttf') format('truetype'), url('../../resources/fonts/NanumGothic/NanumGothicLight.svg#NanumGothicLight') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'NanumGothicBold';*/
    /*src: url('../../resources/fonts/NanumGothic/NanumGothicBold.eot');*/
    /*src: url('../../resources/fonts/NanumGothic/NanumGothicBold.eot?#iefix') format('embedded-opentype'), url('../../resources/fonts/NanumGothic/NanumGothicBold.woff') format('woff'), url('../../resources/fonts/NanumGothic/NanumGothicBold.ttf') format('truetype'), url('../../resources/fonts/NanumGothic/NanumGothicBold.svg#NanumGothicBold') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'NanumGothicExtraBold';*/
    /*src: url('../../resources/fonts/NanumGothic/NanumGothicExtraBold.eot');*/
    /*src: url('../../resources/fonts/NanumGothic/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'), url('../../resources/fonts/NanumGothic/NanumGothicExtraBold.woff') format('woff'), url('../../resources/fonts/NanumGothic/NanumGothicExtraBold.ttf') format('truetype'), url('../../resources/fonts/NanumGothic/NanumGothicExtraBold.svg#NanumGothicExtraBold') format('svg');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&subset=korean');

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    color: #000;
}

/* 공통 */
.clear {
    clear: both;
}

/* 로고 */
.app-logo {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    width: 45px;
}
.app-logo-name {
    font-size: 16px;
    font-family: Consolas, sans-serif;
    font-weight: bold;
    color: #000;
}
.app-logo-icon {
    position: absolute;
    display: block;
    top: 8px;
    right: 0;
    width: 4px;
    height: 4px;
    background: #4bc4f2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: auto;
}
.app-logo-icon i {
    color: #604c8d;
}